@model TeznoProject.Models.Offer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Offer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IconUrl" class="control-label"></label>
                <input type="hidden" id = "iconInput"  asp-for="IconUrl" class="form-control" />
                <span asp-validation-for="IconUrl" class="text-danger"></span>

                
                   <div class="iconList">
       <i class="fas fa-user"></i>
       <i class="fas fa-dice"></i>
    <i class="fas fa-truck"></i>
      <i class="fas fa-glasses"></i>
       <i class="fas fa-paper-plane"></i>
       <i class="fas fa-undo"></i>
       <i class="far fa-edit"></i>
       <i class="fab fa-adn"></i>
       <i class="fas fa-blind"></i>
   </div>


            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section MyScripts{
    <script>
        $(".iconList i").on("click", function(){
             $(".iconList i").removeClass("icon-active")
            $(this).toggleClass("icon-active")
            const value = $(this).attr("class")
            $("#iconInput").val(value)
        })

</script>
}