@model TeznoProject.Models.New

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photoUrl" class="control-label"></label>
                <input asp-for="photoUrl" class="form-control" />
                <span asp-validation-for="photoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bgColor" class="control-label"></label>
                <input type ="hidden" id = "colorInput" asp-for="bgColor" class="form-control" />
                <span asp-validation-for="bgColor" class="text-danger"></span>

                
                <div class = "colorList d-flex align-items-center">
                    <div class="box" id="tomato"></div>
                       <div class="box" id="royalblue"></div>
                          <div class="box" id="forestgreen"></div>
                             <div class="box" id="gold"></div>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section MyScripts{
    <script>
        $(".colorList .box").on("click", function(){
             $(".colorList .box").removeClass("box-active")
            $(this).toggleClass("box-active")
            const value = $(this).attr("id")
            $("#colorInput").val(value)
        })

</script>
}